
 <div>
    <mat-toolbar class="container">
      
        
      
      <span class="container">Juan Garcia</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar></div>
    <div class="button-div">
      <button mat-button>About Me</button>
      <mat-divider vertical class="veritcal-divider" ></mat-divider>
        <button mat-button>Skills</button>
        <mat-divider vertical class="veritcal-divider" ></mat-divider>
        <button mat-button>Experience</button>
      </div>
    <body style="background-color: #faf0e6;"><app-home></app-home></body>
   <router-outlet></router-outlet>