/* You can add global styles to this file, and also import other style files */
@import "~@coreui/coreui/scss/coreui";
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;

  }
  
  html, body {
    height: 100%;
  }
  