.example-spacer {
  flex: 1 1 auto;
}
.example-card {
 text-align: center;
 width: 90%;
 grid-row: 2/3;
    grid-column: 2/3;
    margin: 0 auto;
    display: grid;
}
.container{
  font-family: "GreatVibes-Regular", Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.card-div{
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-cards {
  max-height: 350px;
  max-width: 25%;
  display: inline-block;
 justify-content: space-between;
 margin: 4%;
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}