<mat-divider style="margin: 40px;"></mat-divider>

  <div class="example-card">
    <c-carousel >
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides">
      <img
        alt="{{slide.title}}"
        class="d-block w-100"
        loading="lazy"
        style="height: 600px;"
        src="{{slide.src}}"
      />
      <c-carousel-caption class="d-none d-md-block">
        <h3>{{slide.title}}</h3>
        <p>{{slide.subtitle}}</p>
      </c-carousel-caption>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
  <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel>
</div>
<div class="card-div">
  <mat-card class="example-cards">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src=" ./assets/images/Linkedin-Logo.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-cards">
  
    <img mat-card-image src=" ./assets/images/outlook.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred 
      </p>
    </mat-card-content>
  </mat-card>
 
</div>
